<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension
       point="org.eclipse.core.runtime.adapters">
    <factory
          adaptableType="net.jp2p.container.component.IJp2pComponent"
          class="org.chaupal.jp2p.ui.adapter.Jp2pAdapterFactory">
       <adapter
             type="org.eclipse.ui.views.properties.IPropertySource">
       </adapter>
    </factory>
  </extension>
</plugin>